/***************************
Hero Modules
***************************/
.hero {
    text-align: center;
  }
  .hero-primary {
    background-color: #594a42;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .hero-primary.bg-image > img {
    opacity: 0.55;
  }
  .hero-body {
    position: relative;
  }
  .hero-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.625em;
  }
  .hero-subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.500em;
    font-weight: normal;
  }
  .hero-subtitle + button {
    margin-top: 25px;
  }
  