/*Reset Styles*/

@import 'normalize.css';

/* Change all elements to use border-box */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42; */

/*Theme Styles*/

.background-primary {
    background: #F7941E; /*Orange*/
}
.background-secondary {
    background: #00AEEF; /*Blue*/
}
.background-tertiary {
    background: #8DC63F; /*Green*/
}
footer.background-primary {
    background: #594a42; /*Brown*/
    color: white;
}

/*Base Styles*/

body {
    color: #414042;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    color: #8dc63f;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

/*Layout Styles*/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

hr {
    margin-left: -15px;
    margin-right: -15px;
}

/* Media Query excludes extra small devices and includes small and above */
@media (min-width: 48em) {

    [class*='col-'] {
        float: left;
    }
    /* Column One Third */
    .col-1-3 {
        width: 33.3333%;
    }
    /* Column Two Thirds */
    .col-2-3 {
        width: 66.6666%;
    }
    /* Column Half Width */
    .col-1-2 {
        width: 50%;
    }
    .col-1-4 {
        width: 25%;
        min-height: 1px;
    }
    .col-1-6 {
        width: 16.6666%;
    }
}

@media (min-width: 48em) {
    .pull-right-sm {
        float:right;
    }
}

/* Media Query for extra small devices, 1px below 48em */
@media only screen and (max-width : 47.9375em) {
    /* Remove padding on small mobile devices */
    .remove-gutter-xs {
        padding-left: 0px;
        padding-right: 0px;
    }
}
