/*
Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42;
*/

/***************************
****************************
Reset
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/


/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}
/* Row */
.row {
  margin-right: -15px;
  margin-left: -15px;
}
/* Row Clear Float*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/* Media Query excludes extra small devices and includes small and above */
@media (min-width: 48em) {
  [class*='col-'] {
    float: left;
  }
  /* Column Two Thirds */
  .col-2-3 {
    width: 66.6666%;
  }
  /* Column Third */
  .col-1-3 {
    width: 33.3333%;
  }
  /* Column Half */
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 48em) {
  .pull-right-sm {
    float:right;
  }
}

@media only screen and (max-width : 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/***************************
****************************
Modules
****************************
***************************/

/*Button Modules*/

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.btn-primary {
  background: #8DC63F;
  border-color: #8DC63F;
  color: white;
}

.btn-primary:hover {
  background: none;
  border-color: white;
  text-decoration: none;
}

/* Button primary styling for greater than small screens */
@media (min-width: 48em) {
  .btn-primary {
    padding: 10px 15px;
    font-size: 1.125em;
  }
}

.btn-hero {
  background: transparent;
  border-color: white;
  color: white;
  font-size: 1.75em;
  text-transform: uppercase;
  padding: 15px 30px;
}

.btn-hero:hover {
  color: #39B54A;
  background-color: white;
}

.btn-nav {
  color: white;
}

/*Header Modules*/

.header-primary {
  background: #9B8579;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

/*Logo Modules*/

.logo {
  overflow: hidden;
  display: inline-block;
}

.logo-primary {
  width: 64px;
  height: 64px;
}

.logo-primary img {
  height: 100%; /* For logo to fill full space available */
}

/*Navigation Modules*/

.nav > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-primary {
  margin-top: 35px;
}

/*Hero Modules*/

.hero {
  text-align: center;
}

.hero-primary {
  background-color: #594a42;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hero-primary.bg-image > img {
  opacity: 0.55;
}

.hero-body {
  position: relative;
}

.hero-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.625em;
}

.hero-subtitle {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.500em;
  font-weight: normal;
}

.hero-subtitle + button {
  margin-top: 25px;
}

/*Background Modules*/

.bg-image  {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.bg-image > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 100%;
}

/*Media Object Module*/

.media {
  padding-top: 40px;
  padding-bottom: 40px;
}

.media, .media-body {
  overflow:hidden;
}

.media-item {
  float:left;
  margin-right: 10px;
}

.media-item i {
  color: #594a42;
  font-size: 5em;
}

.media-btn {
  margin-top: 40px;
}

/* Testimonial Module */
.testimonial {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.testimonial.bg-image > img {
  opacity: 0.65;
}

.testimonial-body {
  position: relative;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.testimonial-rating {
  padding-bottom: 50px;
  font-size: 5em;
}

.testimonial-verbage {
  font-size: 1.500em;
  font-style: italic;
  font-weight: normal;
}

/* Testimonial styling for larger screen sizes */
@media (min-width: 48em) {
  .testimonial {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .testimonial-rating {
    padding-bottom: 60px;
  }
}

/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: #F7941E;
}
.background-secondary {
  background: #00AEEF;
}
.background-tertiary {
  background: #8DC63F;
}
.background-quaternary {
  background: #594a42;
}
.background-quinary {
  background: #e7e1d7;
}


